table inet fw-host {
    chain input {
        type filter hook input priority filter;
        policy drop;

        ct state invalid drop
        ct state { established, related } accept
        iif lo accept
        ip protocol icmp accept
        ip6 nexthdr ipv6-icmp accept
        tcp dport {{ ssh_port }} accept comment "SSH"
{% if host_public_ports %}
        tcp dport { {{ host_public_ports | join(', ') }} } accept comment "public ports"
{% endif %}
    }
    chain output {
        type filter hook output priority filter;
        policy accept;
    }
}
